---
import { formatDate } from "~/utils/formatDate";
import BaseLayout from "./BaseLayout.astro";
import type { BlogPorperties } from "./interfaces";

interface Props {
  frontmatter: BlogPorperties
}

const {
  frontmatter,
} = Astro.props

const { 
  title, author, images: { src, alt, description }, date, category
} = frontmatter

const meta = { 
  title: `${title} - ${author}`,
  ogImage: src
}
---

<BaseLayout {...meta}>
  <section>
    <div>
      <img src={src} alt={alt} />
      <small>{description}</small> 
    </div>
    
    <slot />

    <small>
      <p>
        Publication date: { formatDate(date) }
        <br>
        Author: { author }  
      </p>
    </small>

    <a href="/blogs">Go to posts</a>

  </section>
</BaseLayout>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  pre {
    padding: 1rem 0rem 1rem 1rem;
    border-radius: 8px;
  }

  code,
  code span {
    font: 0.9rem 'Roboto', sans-serif;
  }
</style>
